<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot password</title>
</head>
<body>
    <p>Hello {{user.firstName}}</p>
    <p>You can change your password from this  <a href="{{jwt}}">link</a></p>
</body>
</html>