<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User created</title>
</head>
<body>
    <p>The user was created successfully!</p>
    <p>First name: {{firstName}}</p>
    <p>Last name: {{lastName}}</p>
    <p>Email: {{email}}</p>
</body>
</html>